:root {
    --blue1: hsl(207, 74%, 14%);
    --blue2: hsl(203, 71%, 26%);
    --blue3: rgb(54, 146, 164);
    --yellowA: hsl(39, 83%, 65%);
    --redA: hsl(16, 76%, 42%);
    --clear: rgba(255, 255, 255, 0.1);
    --grayB: rgb(163, 162, 162);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    width: 100%;
}

html {
    font: 400 20px/32px 'Roboto', "Helvetica Neue", sans-serif;
    height: 100%;
}

.header {
    color: white;
    position: relative;
    z-index: 10;
    width: 100%;
}

.main {
    display: flex;
    background-color: var(--clear);
    z-index: 8;
}

.main>.section:nth-child(1) {
    width: 40%;
    box-shadow: 3px -6px 13px var(--grayB);
}

.main>.section:nth-child(2) {
    width: 55%;
}

.footer {
    color: white;
    width: 100%;
}

svg {
    height: 100%;
    width: 100%;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.background {
    fill: lightgrey;
}

.background-circle {
    padding: 0.3em;
    border-radius: 50%;
    background-color: var(--clear);
}

.fill {
    fill: var(--blue3);
}

circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dashoffset: 200;
    fill: var(--clear);
}

.stroke-background {
    stroke: lightgrey;
}

.stroke-fill {
    stroke: var(--blue3);
}

.header__title {
    font-size: 17px;
    background-color: var(--blue1);
    padding-top: 1em;
}

.header__profile {
    background-color: var(--blue2);
    align-items: center;
    height: 10em;
}

.header__profile__title {
    font-weight: bold;
    font-size: 40px;
}

.header__profile__subtitle {
    font-weight: 300;
}

.profile-image {
    background-image: url('./resources/profile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 9em;
    width: 9em;
}

.profile-image--clip-circle {
    clip-path: circle(50.00% at center center);
    -webkit-clip-path: circle(50.00% at center center);
}

.header__description {
    background-color: var(--blue3);
    padding-top: 0.5em;
    font-size: 20px;
    padding-bottom: 0.5em;
    font-weight: 400;
}

.container {
    width: 95%;
}

.icon--small {
    width: 4em;
}

.icon--medium {
    width: 6em;
}

.item {
    position: relative;
    margin-bottom: 1em;
}

.item__title {
    font-weight: bold;
}

.item__title--justify {
    display: inline-block;
    width: 6em;
}

.item__detail {
    font-weight: 300;
}

.item__progress-bar {
    height: 0.7em;
    display: inline-block;
    width: 60%;
}

.item--left-line::before {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: var(--grayB);
    content: "";
    left: 0px;
}

.item--bottom-line::before {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--grayB);
    content: "";
    bottom: -0.5em;
}

.timeline-circle {
    position: relative;
    right: 1em;
    height: 2em;
    width: 2em;
    border: 0.5em solid var(--grayB);
    border-radius: 50%;
    background-color: var(--blue1);
    float: left;
}

.card {
    display: grid;
    grid-template-columns: 1fr 10em;
    grid-template-rows: minmax(2em, auto) minmax(3em, auto);
    grid-template-areas:
        "title period"
        "description description";
}

.card__title {
    grid-area: title;
}

.card__period {
    grid-area: period;
    color: var(--grayB);
}

.card__description {
    grid-area: description;
}

.item__achievement {
    height: 7em;
    width: 7em;
    margin: 0.5em;
}

.item__achievement__title {
    position: relative;
    bottom: 5em;
}

.footer-link {
    background-color: var(--blue2);
}

.footer-information {
    background-color: var(--blue1);
}

@media (max-width: 550px) {
    .header__profile {
        height: 15em;
    }

    .card {
        grid-template-columns: 1fr 6em;
    }
}


@media (max-width: 1100px) {
    .main {
        display: block;
    }

    .main>.section:nth-child(1) {
        width: 100%;
        padding-left: 4vw;
        padding-right: 4vw;
        box-shadow: none;
    }

    .main>.section:nth-child(2) {
        width: 100%;
        padding-left: 4vw;
        padding-right: 4vw;
    }
}

.bottom-border {
    border-bottom: 2px solid white;
    display: inline-block;
}

.title {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0em;
    line-height: 40px;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.name {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0em;
    line-height: 1.1em;
}

.spacing-left {
    padding-left: 7vw;
}

.padding-around {
    padding: 0.5em 1em;
}

.margin-around {
    margin: 0.5em 1em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

@media (max-width: 1100px) {
    .flex-container {
        justify-content: center;
    }

}

.flex-center {
    justify-content: center;
}

.flex-container--col1 {
    flex: 1 1 auto;
}

.flex-container--col2 {
    flex: 2 1 auto;
}

.flex-container--col3 {
    flex: 3 1 auto;
}

.flex-container--col4 {
    flex: 4 1 auto;
}

.text-center {
    text-align: center;
}

.text {
    line-height: 25px;
    font-weight: 300;
}

/*body {
    width: 21cm;
    height: 29.7cm;
    margin: 1mm 1mm 1mm 1mm;
} */
